# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn.lock
.pnpm-debug.log*
.vite/deps/

# Electron
dist/
build/
*.log
*.asar
electron-builder-cache/
out/

# Tailwind & Vite
src/renderer/.next/
src/renderer/.vite/
src/renderer/.cache/

# TypeScript
*.tsbuildinfo

# Python
*.pyc
__pycache__/
venv/
ocr-service/__pycache__/
training-service/__pycache__/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
